# dirs/file to ignore
.vscode/
logs/
__pycache__
make
README/
README.adoc.py
*
# do NOT ignore the following
!clean.sh
!index.html
!LICENSE
!README.adoc
!README.bib
!rename_html.sh
!setup.sh
## 1-ElectronicsToAtomistics
!1-ElectronicsToAtomistics/Calculations/1-EnergyOffset/energy_offset.sh
!1-ElectronicsToAtomistics/Calculations/2-KPointStudy/kpoint_study.sh
!1-ElectronicsToAtomistics/Calculations/2-KPointStudy/which_ecutwfc.jl
!1-ElectronicsToAtomistics/Calculations/2-KPointStudy/which_ecutwfc.py
!1-ElectronicsToAtomistics/Calculations/3-GSFE/gsfe_create.sh
!1-ElectronicsToAtomistics/Calculations/3-GSFE/gsfe_process.sh
!1-ElectronicsToAtomistics/Calculations/Fe.library.meam
!1-ElectronicsToAtomistics/Calculations/Fe.parameter.meam
!1-ElectronicsToAtomistics/Calculations/Fe.pbe-spn-kjpaw_psl.0.2.1.UPF
!1-ElectronicsToAtomistics/Files/Cu.in
!1-ElectronicsToAtomistics/Files/Cu.UPF
!1-ElectronicsToAtomistics/Files/ev_curve
!1-ElectronicsToAtomistics/Files/EvA_EvV_plot.jl
!1-ElectronicsToAtomistics/Files/EvA_EvV_plot.py
!1-ElectronicsToAtomistics/Files/evfit.f
!1-ElectronicsToAtomistics/Files/gsfe_curve.jl
!1-ElectronicsToAtomistics/Files/gsfe_curve.py
!1-ElectronicsToAtomistics/Files/OutputFileCreator.jl
!1-ElectronicsToAtomistics/Files/OutputFileCreator.py
!1-ElectronicsToAtomistics/Files/OutputFileSummarizer.jl
!1-ElectronicsToAtomistics/Files/OutputFileSummarizer.py
!1-ElectronicsToAtomistics/Files/qe-6.0.0.tar.gz
!1-ElectronicsToAtomistics/Files/rescale_commands.sh
!1-ElectronicsToAtomistics/elastic_moduli.ipynb
!1-ElectronicsToAtomistics/packages.jl
!1-ElectronicsToAtomistics/setup.sh
## 2-AtomisticsToDislocations
!2-AtomisticsToDislocations/Calculations/1-DislocationVelocity/dislocation_position.jl
!2-AtomisticsToDislocations/Calculations/1-DislocationVelocity/dislocation_position.py
!2-AtomisticsToDislocations/Calculations/1-DislocationVelocity/dislocation_velocity.jl
!2-AtomisticsToDislocations/Calculations/1-DislocationVelocity/dislocation_velocity.py
!2-AtomisticsToDislocations/Calculations/1-DislocationVelocity/dislocation_velocity.sh
!2-AtomisticsToDislocations/Calculations/2-MDDP/bcc.sh
!2-AtomisticsToDislocations/Calculations/2-MDDP/fcc.sh
!2-AtomisticsToDislocations/Calculations/2-MDDP/mddp.sh
!2-AtomisticsToDislocations/Calculations/2-MDDP/run.sh
!2-AtomisticsToDislocations/Calculations/2-MDDP/stress_strain.jl
!2-AtomisticsToDislocations/Calculations/2-MDDP/stress_strain.py
!2-AtomisticsToDislocations/Files/atoms.sh
!2-AtomisticsToDislocations/Files/Cu.compress.Size3.in
!2-AtomisticsToDislocations/Files/Cu.meam
!2-AtomisticsToDislocations/Files/data
!2-AtomisticsToDislocations/Files/datain
!2-AtomisticsToDislocations/Files/Dislocation.f90
!2-AtomisticsToDislocations/Files/DislocationVelocity.ovmod
!2-AtomisticsToDislocations/Files/DisVelocity.in
!2-AtomisticsToDislocations/Files/library.meam
!2-AtomisticsToDislocations/Files/MDDP.7z
!2-AtomisticsToDislocations/Files/ovito-basic-3.7.2-x86_64.tar.xz
!2-AtomisticsToDislocations/Files/rescale_commands.sh
!2-AtomisticsToDislocations/packages.jl
!2-AtomisticsToDislocations/setup.sh
## 3-DislocationMobilityToCrystalPlasticity
!3-DislocationMobilityToCrystalPlasticity/Calculations/1-CPFEM/cpfem.sh
!3-DislocationMobilityToCrystalPlasticity/Calculations/1-CPFEM/voce_hardening_fit.jl
!3-DislocationMobilityToCrystalPlasticity/Calculations/1-CPFEM/voce_hardening_fit.py
!3-DislocationMobilityToCrystalPlasticity/Files/bcc.sx
!3-DislocationMobilityToCrystalPlasticity/Files/fcc.sx
!3-DislocationMobilityToCrystalPlasticity/Files/Introduction_to_CPFEM_v3.pdf
!3-DislocationMobilityToCrystalPlasticity/Files/numbers.inc
!3-DislocationMobilityToCrystalPlasticity/Files/params_xtal.inc
!3-DislocationMobilityToCrystalPlasticity/Files/rescale_commands.sh
!3-DislocationMobilityToCrystalPlasticity/Files/rve.single.inp
!3-DislocationMobilityToCrystalPlasticity/Files/test.xtali
!3-DislocationMobilityToCrystalPlasticity/Files/texture.txti
!3-DislocationMobilityToCrystalPlasticity/Files/umat_xtal.f
!3-DislocationMobilityToCrystalPlasticity/setup.sh